* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixeHome About Services Contactd;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}